﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iFlyChatBot.UI</title>
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <div class="navbar  navbar-fixed-top" style="background-color: white; border-bottom: 1px solid #42a8e1;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("iFlyChatBot.UI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" rel="home" href="~/Admin" title="Brand" style="padding-top: 10px; padding-bottom: 10px">
                    <img style="height: 100%;" src="@Url.Content("~/Content/brand.jpg")" width="32"> iFlyChatBot.UI
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @RenderSection("BotControlls", false)
                    </li>
                    

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "Admin")">
                            <span class="glyphicon glyphicon-info-sign"></span> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sites", "Admin")">
                            <span class="glyphicon glyphicon-globe"></span> @String.Format("Sites ({0})", Config.Sites.Count)
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Users", "Admin")">
                            <span class="glyphicon glyphicon-user"></span> @String.Format("Users ({0})", Config.Users.Count)
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sources", "Admin")">
                            <span class="glyphicon glyphicon-download-alt"></span> @String.Format("Sources ({0})", Config.Sources.Count)
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Readers", "Admin")">
                            <span class="glyphicon glyphicon-book"></span> @String.Format("Readers ({0})", Config.TwtterReaders.Count)
                        </a>
                    </li>
                    <li>
                        <a href="~/hangfire">
                            <span class="glyphicon glyphicon-dashboard"></span> Hangfire
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - iFlyChatBot.UI</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>