﻿@model iFlyChatBot
@{
    ViewBag.Title = "Index";
}
<style>
    textarea {
        font-size: 10px;
        width: 100%;
        height: 600px;
    }
</style>
@section BotControlls {
<div style="font-size: 18px; letter-spacing:5px; margin-top:10px;">
    <!-- pretend an enclosing class has big font size -->
    @if (iFlyChatBot.Running)
    {
        <span class="label label-success">On!</span>
        @Html.ActionLink("stop", "Stop", "Bot", null, new { @class = "btn btn-link", @style = "letter-spacing: normal; color:red; font-weight:bolder;" })
    }
    else
    {
        <span class="label label-danger">Off!</span>
        @Html.ActionLink("start", "Start", "Bot", null, new { @class = "btn btn-link", @style = "letter-spacing: normal; color:green; font-weight:bolder;" })
    }

</div>


}
<p>Select @Html.ActionLink("Sites", "Sites"), @Html.ActionLink("Users", "Users") or @Html.ActionLink("Sources", "Sources") to configure.</p>

<div class="row">
    <div class="col-md-6">
@foreach (var s in Config.Sites)
{
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> @s.Name</h3>
            </div>
            <div class="panel-body">
                @if (Config.SitesUsers.Any(x => x.SiteId == s.Id))
                {
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Active Users</th>
                                <th style="text-align:center;"></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var su in Config.SitesUsers.Where(x => x.SiteId == s.Id))
                        {
                            var user = Config.Users.Find(y => y.Id == su.UserId);
                            var source = Config.Sources.Find(z => z.Id == user.SourceId);
                            var sourceDisplay = source == null ? "None" : source.Username;
                            <tr>
                                <td><span class="glyphicon glyphicon-user" style="color:#3a87ad;"></span> @user.Name [@sourceDisplay]</td>
                                <td>@Html.ActionLink("Remove", "SiteUser", new { id = s.Id, uid = user.Id })</td>
                            </tr>
                        }
                        </tbody>
                    
                    </table>
                } else
                {
                    <p>No users added for this site.</p>
                }
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Available Users</th>
                            <th style="text-align:center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var u in Config.Users.Where(x => !Config.SitesUsers.Where(z => z.SiteId == s.Id).Select(g => g.UserId).Contains(x.Id))) { 
                            <tr>
                                <td><span class="glyphicon glyphicon-user" style="color:#3a87ad;"></span> @u.Name</td>
                                <td>@Html.ActionLink("Add", "SiteUser", new { id = s.Id, uid = u.Id })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
}
    </div>
    <div class="col-md-4">

    </div>
</div>
@*<div class="row">
    <div class="col-md-2">
        @if (iFlyChatBot.Running)
        {
            <button type="button" class="btn btn-danger">Stop</button>
        }
        else
        {
            <button type="button" class="btn btn-success">Start</button>
        }
    </div>
</div>*@
@*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

        <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sites</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th style="text-align:center;">Room</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in Config.Sites)
                                    {     
                                        <tr>
                                            <td><a href="#">#@s.Id</a></td>
                                            <td>@s.Name</td>
                                            <td>@s.RoomId</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sources</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-condensed table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Type</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var s in Config.Sources)
                                    {
                                        <tr>
                                            <td>@s.Id</td>
                                            <td>@s.Type</td>
                                            <td>@s.Username</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                </div>


            }*@

