﻿
@{
    ViewBag.Title = "Readers";
}
<style>
    ul {

    }
</style>
<h3 style="color:#3a87ad;"><span class="glyphicon glyphicon-book"></span> Readers</h3>

<div class="row">
    <div class="col-md-12">
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Channel</th>
                    <th>Name</th>
                    <th>Load(#Sources)</th>
                    <th>Messages</th>
                    <th style="text-align:center;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Config.TwtterReaders) {
                    <tr>
                        <td>@s.Type</td>
                        <td>
                            <a href="http://twitter.com/@s.Username"><img style="max-height:24px;" src="@Url.Content("~/Content/twitter.png")"> @s.Username</a>
                        </td>
                        @{
                            var sources = s.GetSources();
                        }
                        <td>
                            @sources.Count
                            <ul style="list-style:none;">
                                @foreach (var so in sources) {
                                    <li>
                                        <a href="http://twitter.com/@so.Username"><img style="max-height:24px;" src="@Url.Content("~/Content/twitter.png")"> @so.Username</a>
                                         
                                        <ul style="list-style:none;">
                                            @foreach (var si in Config.Users.Where(x => x.SourceId == so.Id)) {
                                                <li>
                                                    <a href="@Url.Action("UserDetail", "Admin", new { id = @si.Id })"><img style="max-height:24px;" src="@Url.Content("~/Content/iflychat.png")"> @si.Name</a>
                                            </li>
                                            }
                                        </ul>
                                    </li>

                                }
                            </ul>
                        </td>
                        <td>
                            <p>Messages</p>
                            @{ 
                                var messages = s.GetMessages();
                            }
                            <table class="table table-condensed table-hover" style="font-size:10px;">
                                <thead>
                                    <tr>
                                        <th>Time</th>
                                        <th>Handle</th>
                                        <th>Message</th>
                                        <th style="text-align:center;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var m in messages) {
                                        var twitterHandle = Config.Sources.FirstOrDefault(x => x.Id == m.SourceId);
                                        if(twitterHandle == null) { continue; }
                                        <tr>
                                            <td>
                                                @m.CreatedOn.ToShortTimeString()
                                            </td>
                                            <td>
                                               @twitterHandle.Username
                                            </td>
                                            <td>
                                                @m.Text
                                            </td>
                                            <td>
                                                Act1
                                                Act2
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteReader", new { id = s.Id })
                            @Html.ActionLink("Edit", "ReaderDetail", new { id = s.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("New Twitter-Reader","ReaderDetail", new { id = -1 })
    </div>
</div>