﻿@using iFlyChatBot.Models
@model iFlyChat_Reader_Twitter
@{
    ViewBag.Title = "ReaderDetail";
}

<h2><span class="glyphicon glyphicon-book"></span> @Model.Username</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("SaveReader", "Admin", FormMethod.Post)) {
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <div class="row">                    
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Type, new { @class = "control-label" })
                        @*@Html.TextBoxFor(m => m.Type, new { @class = "form-control" })*@
                        @Html.DropDownListFor(x => x.Type, new SelectListItem[]{
                            new SelectListItem() {Text = "Twitter", Value="Twitter"}
//                            new SelectListItem() {Text = "Facebook", Value="Facebook"},
//                            new SelectListItem() {Text = "Instagram", Value="Instagram"}
                        }, new { @class = "form-control"})
                        @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.twitter_accessToken, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.twitter_accessToken, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.twitter_accessToken, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.twitter_accessTokenSecret, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.twitter_accessTokenSecret, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.twitter_accessTokenSecret, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.twitter_consumerKey, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.twitter_consumerKey, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.twitter_consumerKey, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.twitter_consumerSecret, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.twitter_consumerSecret, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.twitter_consumerSecret, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            @*@Html.EditorForModel()
            <input class="btn-danger" type="submit" name="Update" value="Update" />*@
        }
    </div>


</div>

