﻿
@{
    ViewBag.Title = "Sites";
}

<h3 style="color:#3a87ad;"><span class="glyphicon glyphicon-globe"></span> Sites</h3>

<div class="row">
    <div class="col-md-6">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="text-align:center;">Room</th>
                            <th style="text-align:center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Config.Sites)
                        {
                            <tr>
                                <td>@s.Name</td>
                                <td>@s.RoomId</td>
                                <td>
                                    @Html.ActionLink("Delete", "DeleteSite", new { id = s.Id })
                                    @Html.ActionLink("Edit", "SiteDetail", new { id = s.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            @Html.ActionLink("New", "SiteDetail", new { id = -1 })
    </div>
</div>