﻿@using iFlyChatBot.Models
@model iFlyChat_Site
@{
    ViewBag.Title = "SiteDetail";
}

<h2><span class="glyphicon glyphicon-globe"></span> @Model.Name</h2>

<div class="row">
    @*<div class="col-md-4">
@using (Html.BeginForm("SaveSite", "Admin", FormMethod.Post))
{
    @Html.EditorForModel()
    <input class="btn-danger" type="submit" name="Update" value="Update" />
}
    </div>*@
    <div class="col-md-6">
        @using (Html.BeginForm("SaveSite", "Admin", FormMethod.Post)) {
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.RoomId, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.RoomId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RoomId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(m => m.ApiKey, "iFlyChat RoomId", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.ApiKey, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ApiKey, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            @*@Html.EditorForModel()
                <input class="btn-danger" type="submit" name="Update" value="Update" />*@
        }
    </div>
</div>





