﻿@using iFlyChatBot.Models
@model iFlyChat_Source
@{
    ViewBag.Title = "SourceDetail";
}

<h2><span class="glyphicon glyphicon-download-alt"></span> @Model.Username</h2>

<div class="row">
    @*<div class="col-md-4">
        @using (Html.BeginForm("SaveSource", "Admin", FormMethod.Post))
        {
            @Html.EditorForModel()
            <input class="btn-danger" type="submit" name="Update" value="Update" />
        }
    </div>*@
    <div class="col-md-6">
        @using (Html.BeginForm("SaveSource", "Admin", FormMethod.Post)) {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.SinceId)
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.ReaderId, new { @class = "control-label" })
                        @{ 
                            SelectListItem selListItem = new SelectListItem() { Value = "null", Text = "Select One" };
                            List<SelectListItem> readers = new List<SelectListItem>();
                            readers.Add(selListItem);
                            var treaders = Config.TwtterReaders.Select(x =>
                                                        new SelectListItem() {
                                                            Text = x.Username,
                                                            Value = x.Id.ToString()
                                                        }
                                                    );
                            var rTemp = readers.ToList();
                            readers.AddRange(treaders);
                        }
                        @Html.DropDownListFor(x => x.ReaderId, readers, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ReaderId, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col-md-4">
                        <p>@Model.LastUpdate</p>
                    </div>
                </div>
            </div>
            @*@Html.EditorForModel()
            <input class="btn-danger" type="submit" name="Update" value="Update" />*@
        }
    </div>
</div>

