﻿
@{
    ViewBag.Title = "Sources";
}

<h3 style="color:#3a87ad;"><span class="glyphicon glyphicon-download-alt"></span> Sources</h3>

<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Reader</th>
                    <th style="text-align:center;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Config.Sources)
                {
                    var reader = Config.TwtterReaders.FirstOrDefault(x => x.Id == s.ReaderId);
                    <tr>
                        <td>
                            <a href="http://twitter.com/@s.Username"><img style="max-height:24px;" src="@Url.Content("~/Content/twitter.png")"> @s.Username</a>
                        </td>
                        @if(reader != null) {
                            <td class="success">
                                <a href="http://twitter.com/@reader.Username"><img style="max-height:24px;" src="@Url.Content("~/Content/twitter.png")"> @reader.Username (@reader.GetSources().Count)</a>
                            </td>
                        } else {
                        <td class="danger">None</td>
                        }
                        <td>
                            @Html.ActionLink("Delete", "DeleteSource", new { id = s.Id })
                            @Html.ActionLink("Edit", "SourceDetail", new { id = s.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("New", "SourceDetail", new { id = -1 })
    </div>
</div>



