﻿
@{
    ViewBag.Title = "Users";
}

<h3 style="color:#3a87ad;"><span class="glyphicon glyphicon-user"></span> Users</h3>

<div class="row">
    <div class="col-md-10">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Source</th>
                    <th>Active</th>
                    <th>Image</th>
                    <th style="text-align:center;"></th>
                    <th>Chat</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Config.Users)
                {
                    <tr>
                        <td>
                            <a href="#"><img style="max-height:24px;" src="@Url.Content("~/Content/iflychat.png")"> @s.Name</a>
                        </td>
                        <td>
                            @{ 
                                var source = Config.Sources.FirstOrDefault(x => x.Id == s.SourceId);
                            }
                            @if (source != null) {
                                <a href="http://twitter.com/@source.Username"><img style="max-height:24px;" src="@Url.Content("~/Content/twitter.png")"> @source.Username</a>
                            } else {
                                <a href="#">Invalid</a>
                            }
                        </td>
                        @if (s.Active) {
                            <td><span class="label label-success">Y</span></td>
                        } else {
                            <td><span class="label label-default">N</span></td>
                        }
                        
                        <td><img src="@s.Image" alt="profile_pic" style="max-height:32px;" /></td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteUser", new { id = s.Id })
                            @Html.ActionLink("Edit", "UserDetail", new { id = s.Id })
                        </td>
                        <td>
                            @using (Html.BeginForm("SendMessage", "Bot", FormMethod.Post)) {
                                @Html.Hidden("UserId", s.Id)                                

                                var sites = Config.Sites.Select(x =>
                                    new SelectListItem() {
                                        Text = x.Name,
                                        Value = x.Id.ToString()
                                    }
                                );
                                @Html.DropDownList("SiteId", sites, new { @class = "form-control" })

                                @Html.TextBox("message", "", new { @class = "form-control" })
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input type="submit" value="Send" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                                }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("New", "UserDetail", new { id = -1 })
    </div>
</div>