﻿@using iFlyChatBot.Models
@model iFlyChat_User
@{
    ViewBag.Title = "UserDetail";
}

<h2><span class="glyphicon glyphicon-user"></span> @Model.Name</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("SaveUser", "Admin", FormMethod.Post)) {
            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Active )
                        @Html.CheckBoxFor(m => m.Active )
                        @Html.ValidationMessageFor(m => m.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.SourceId, new { @class = "control-label" })
                        @{
                            var readers = Config.Sources.Select(x =>
                                new SelectListItem() {
                                    Text = x.Username,
                                    Value = x.Id.ToString()
                                }
                            );
                        }
                        @Html.DropDownListFor(x => x.SourceId, readers, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.SourceId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(m => m.FlyChatId, "iFlyChat RoomId", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FlyChatId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FlyChatId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        @Html.LabelFor(m => m.Image, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Image, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        <img src="@Model.Image" style="max-height:256px;" />
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>


    @*<div class="col-md-4">
        <h4><span class="glyphicon glyphicon-download-alt"></span> Sources</h4>
        <table class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Config.Sources)
                {
                    <tr>
                        <td>@s.Id</td>
                        <td>@s.Username</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@
</div>

