{% extends "base.html" %}
{% block content %}
<h3 style="color:#3a87ad;"><span class="glyphicon glyphicon-eye-open"></span> OmniFeed</h3>
<div class="row">
<div class="col-md-12">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="sites_tab">
	{% for s in all_sites | reverse %}
		{% if loop.first %}
    		<li role="presentation" class="active" data-id="{{s.ifc_room_id}}">
				<a href="#site_{{s.ifc_room_id}}" aria-controls="site_{{s.ifc_room_id}}" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-globe" style="color:#3a87ad;"></span> {{s.name}}</a></li>
		{% else %}
    		<li role="presentation" class="" data-id="{{s.ifc_room_id}}"><a href="#site_{{s.ifc_room_id}}" aria-controls="site_{{s.ifc_room_id}}" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-globe" style="color:#3a87ad;"></span> {{s.name}}</a></li>
		{% endif %}
	{% endfor %}
<!--
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
-->
  </ul>
</div>
</div>
<div class="row">
<div class="col-md-12">
  <!-- Tab panes -->
	<div class="tab-content">

	{% for s in all_sites | reverse %}
		{% if loop.first %}
		    <div role="tabpanel" class="tab-pane active" id="site_{{s.ifc_room_id}}">
		{% else %}
		    <div role="tabpanel" class="tab-pane" id="site_{{s.ifc_room_id}}">
		{% endif %}
<!-- Deprechated -->
{#
			<div class="row">
				<div clas="col-md-10">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
				                    <th style="text-align:left; width:50px;">User</th>
									<th>Msg</th>
								</tr>
			    	        </thead>
            				<tbody>
								<tr>
									<td>
										User {{loop.index}}
									</td>
	            			    	<td>
										<img style="max-height:24px;" src="{{ url_for('site.static', filename='iflychat.png') }}"> Message...
									</td>
			            	   </tr>
							 </tbody>
						</table>
				</div>
			</div>
#}
<!-- /Deprechated -->
			<hr />
			<!-- Chat -->
			<div class="row">
			<div class="col-md-12" style="height: 500px;overflow-y: scroll;" id="chat_{{s.ifc_room_id}}">
{#
			{% for x in range(10) %}
			<div class="row">
				<div class="col-md-2">
					<img style="max-height:24px;" src="{{ url_for('site.static', filename='iflychat.png') }}"> User 
				</div>
				<div class="col-md-8">
					 Message...
				</div>
				<div class="col-md-2">
					<span class="label label-success"> Options</span>
				</div>
			</div>
			{% endfor %}
#}
			</div>
			</div>
			<!-- /Chat -->
			<hr />	
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<select id="user_{{s.ifc_room_id}}" name="source_id" class="selectpicker" data-style="btn-default" data-width="100%" data-icon="glyphicon-user">
							{% for u in all_users %}
{#
								{% if ud.source_id == s.id %}
									<option  value="{{ s.id }}" selected="selected">{{s.name}}</option>
								{% else %}
									<option  value="{{ s.id }}">{{s.name}}</option>
								{% endif %}
#}
								<option  value="{{ u.id }}">{{u.name}}</option>
							{% endfor %}
						</select>
					</div>

				</div>
				<div class="col-md-8">
					<div class="form-group">
						<input type="text" class="form-control" id="msg_{{s.ifc_room_id}}" name="msg" placeholder="Enter message ... ">
					</div>
				</div>
				<div class="col-md-2">
					<a class="btn btn-info" id="btnMsg_{{s.ifc_room_id}}">
						<span class="glyphicon glyphicon-send"></span>
					</a>
				</div>
			</div>

			</div>

	{% endfor %}
</div>
</div>
</div>
<script type="text/javascript">
	var _latest_id = -1;
	window.onload=function(){
		$('.selectpicker').selectpicker();
//		var out = document.getElementById("chat_1");
		getIFCChat()
		var add = setInterval(function() {
		    // allow 1px inaccuracy by adding 1
//			getTweet()
			getIFCChat()
		}, 10000);
		{% for s in all_sites | reverse %}
			$("#btnMsg_{{s.ifc_room_id}}").on('click', function() { postMessage({{s.ifc_room_id}});});
		{% endfor %}
};

function postMessage(roomId) {
	var username = $('.selectpicker#user_' + roomId + ' option:selected').html();
	var message = $("#msg_"+roomId).val();
	var room_id = $("ul#sites_tab li.active").data('id');
	var data = { username, message, room_id };
	console.log('posting to:');
	console.log(room_id);
 $.ajax({
    type : "POST",
    url : "http://192.169.141.201/iflychatbot/api/test/",
    data: JSON.stringify(data, null, '\t'),
    contentType: 'application/json;charset=UTF-8',
    success: function(result) {
        console.log(result);
		$("#msg_"+roomId).val('');

	}
})
}

{% for x in range(3) %}
function func_{{x}}() {
	console.log({{x}});
}
{% endfor %}

function getIFCChat() {
		var latest_id = _latest_id;
		var data = { latest_id };
         $.ajax({ 
             type: "POST",
             url: "http://192.169.141.201/iflychatbot/api/ifc_chat/",
			 data: JSON.stringify(data, null, '\t'), 
    		 contentType: 'application/json;charset=UTF-8',
             success: function(data){     
				if(data.length == 0) return;
				_latest_id = data[data.length-1].id;

			
				for(var i=0;i<data.length;i++) {	
					var out = document.getElementById("chat_"+data[i].room_id);
					var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;

					var newElementHTML = "\
					<div class=\"row\">\
					<div class=\"col-md-2\">\
						<img style=\"max-height:24px;\" src=\"{{ url_for('site.static', filename='iflychat.png') }}\"> " + data[i].name + " \
					</div>\
					<div class=\"col-md-8\">\
						 " + data[i].text + " \
					</div>\
					<div class=\"col-md-2\">\
						<span class=\"label label-success\"> Options</span>\
					</div>\
					</div>";

					/* if count of appends > 500 ... delete from top */
					$("#chat_"+data[i].room_id).append(newElementHTML);
					if(isScrolledToBottom)
						out.scrollTop = out.scrollHeight - out.clientHeight;  

				}
             }
         });

}

function getTweet() {
         $.ajax({ 
             type: "GET",
             dataType: "json",
             url: "http://192.169.141.201/iflychatbot/api/",
			 async: true,
             success: function(data){     
				var out = document.getElementById("chat_1");
				var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;
//				var newElement = document.createElement("div");
				var newElementHTML = "\
				<div class=\"row\">\
				<div class=\"col-md-2\">\
					<img style=\"max-height:24px;\" src=\"{{ url_for('site.static', filename='twitter.png') }}\"> " + data.name + " \
				</div>\
				<div class=\"col-md-8\">\
					 " + data.text + " \
				</div>\
				<div class=\"col-md-2\">\
					<span class=\"label label-success\"> Options</span>\
				</div>\
				</div>";

//				newElement.innerHTML = data.text;
				/* if count of appends > 500 ... delete from top */
				$("#chat_1").append(newElementHTML);
				if(isScrolledToBottom)
					out.scrollTop = out.scrollHeight - out.clientHeight;  
             }
         });
}
</script>


{% endblock %}

