{% extends "base.html" %}
{% block content %}
<!-- Dashboard -->
<p>Select <a href="{{ url_for('site.sites') }}">Sites</a>, <a href="{{ url_for('site.users') }}">Users</a> or <a href="{{ url_for('site.sources') }}">Sources</a>
 to configure.</p>

<div class="row">
    <div class="col-md-6">
		{% for site in all_sites %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> {{ site.name }}</h3>
            </div>
            <div class="panel-body">
				{% if site.users | length > 0 %}
				<table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>Active Users</th>
								<th>Source</th>
                                <th style="text-align:center;"></th>
                            </tr>
                        </thead>
                        <tbody>
						{% for u in site.users | sort(attribute='name') %}
                            <tr>
                                <td><span class="glyphicon glyphicon-user" style="color:#3a87ad;"></span> {{ u.name }}</td>
								<td><img style="max-height:24px;" src="static/twitter.png">{{ u.source_name }}</td>
                                <td style="text-align:right;">
							<a href="{{ url_for('site.siteuser', site_id=site.id, user_id=u.id )}}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-arrow-down"></a>

</td>
                            </tr>
						{% endfor %}
                        </tbody>
                    
                    </table>
				{% else %}
                    <p>No users added for this site.</p>
				{% endif %}
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Available Users</th>
                            <th style="text-align:center;"></th>
                        </tr>
                    </thead>
                    <tbody>
						{% for u in site.available_users | sort(attribute='name') %}
                            <tr>
                                <td><span class="glyphicon glyphicon-user" style="color:#3a87ad;"></span> {{ u.name }}</td>
                                <td style="text-align:right;">
							<a href="{{ url_for('site.siteuser', site_id=site.id, user_id=u.id )}}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-arrow-up"></a>

</td>

                            </tr>
						{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-4">

    </div>
</div>



{% endblock %}

