{% extends "base.html" %}
{% block content %}
<h3 style="color:#3a87ad;"><span class="glyphicon glyphicon-globe"></span> Sites</h3>
<div class="row">
	<div class="col-md-6">
		<a href="{{ url_for('site.site_detail', id=0) }}" class="btn btn-xs btn-info" style="float:right;"><span class="glyphicon glyphicon-plus"></a>
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th style="text-align:center;">Room</th>
					<th style="text-align:center;"></th>
				</tr>
			</thead>
			<tbody>
				{% for s in all_sites %}
					<tr>
						<td>
							<img style="max-height:24px;" src="static/stock.png"> {{ s.name}}
						</td>
						<td style="text-align:center;"> {{ s.ifc_room_id }}</td>
						<td style="text-align:right;">
							<a href="{{ url_for('site.site_detail', id=s.id) }}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-edit"></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
