{% extends "base.html" %}
{% block content %}

<h2><span class="glyphicon glyphicon-download-alt"></span> {{ sd.name }}</h2>

<div class="row">
	<div class="col-md-6">
		<form action="" method="post" role="form">
		<input type="hidden" name="id" value="{{ sd.id }}">
			<div class="form-group">
				<div class="row">
					<div class="col-md-4">
						<label for="name" class="control-label">Username</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Twitter name" value="{{sd.name}}">
					</div>
					<div class="col-md-4">
						Stream
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
						<input type="submit" value="Save" class="btn btn-primary" />
					</div>
					<div class="col-md-4">
						Last update
					</div>
				</div>
			</div>
		</form>
	</div>	
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
                	<th>Id</th>
                    <th style="text-align:center;">Tweet</th>
				</tr>
            </thead>
            <tbody>
				{% for tweet in sd.tweets | sort(attribute='id') %}
				<tr>
					<td>
						{{ tweet.id }}
					</td>
                	<td>
						<img style="max-height:24px;" src="{{ url_for('site.static', filename='twitter.png') }}">	{{ tweet.text }}
					</td>
               </tr>
				{% endfor %}
            </tbody>
		</table>
	</div>
</div>
{% endblock %}
