{% extends "base.html" %}
{% block content %}

<h3 style="color:#3a87ad;"><span class="glyphicon glyphicon-download-alt"></span> {{ sd.name if sd.name != None else 'Sourcename' }}</h3>

<div class="row">
	<div class="col-md-12">
		<form action="" method="post" role="form">
		<input type="hidden" name="id" value="{{ sd.id }}">
			<div class="form-group">
				<div class="row">
					<div class="col-md-4">
						<label for="name" class="control-label">Username</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Twitterhandle" value="{{sd.name if sd.name != None}}">
					</div>
					<div class="col-md-8">
						Created: {{ sd.created_at }} <br /> Updated: {{ sd.updated_at }}
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-4">
						<a href="{{ url_for('site.sources') }}" class="btn btn-warning">
							<span class="glyphicon glyphicon-chevron-left"></span> Cancel
						</a>
						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span> Save
						</button>
						<a href="{{ url_for('site.source_remove', id=sd.id) }}" class="btn btn-small btn-danger" style="float:right;">
							<span class="glyphicon glyphicon-remove"></span> Delete
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>	
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
                	<th>Id</th>
                    <th style="text-align:center;">Tweet</th>
					<th style="text-align:right;">Date</th>
				</tr>
            </thead>
            <tbody>
				{% for tweet in sd.tweets | sort(attribute='id', reverse=True) %}
				<tr>
					<td>
						{{ tweet.id }}
					</td>
                	<td>
						<img style="max-height:24px;" src="{{ url_for('site.static', filename='twitter.png') }}">	{{ tweet.text }}
					</td>
					<td style="text-align:right;">
						{{ tweet.created_at }}
					</td>
               </tr>
				{% endfor %}
            </tbody>
		</table>
	</div>
</div>
{% endblock %}
